.origami{

    width:520px;
    font-family: fantasy;
    display: flex;
    justify-content: flex-start;
}

a:hover{
    color:red;
}

body{
    background-color:#808080
    
}




